{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->


<div class="col-md-5 pt-3 ml-auto mr-auto">

    <a href="{% url 'user-profile' profile.id %}">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{{profile.imageURL}}"
                         alt="User profile picture">
                </div>
                {% if profile.first_name %}
                <h3 class="profile-username text-center">{{profile.first_name}} {{profile.last_name}}</h3>
                {% endif %}
                <p class="text-muted text-center">{{profile.email}}</p>
                <p class="text-muted text-center">Username: {{profile.username}}</p>

                <ul class="list-group list-group-unbordered mb-3">


                    <li class="list-group-item">
                        <b>github</b> <a href="{{profile.social_github}}"
                                         class="float-right">{{profile.social_github}}</a>
                    </li>


                </ul>

                {% if profile.social_github %}
                <a href="{%url 'edit-account' profile.pk %}" class="btn btn-primary btn-block"><b>Edit Account</b></a>
                {% endif %}

            </div>
            <div class="col-4 pb-3 pt-3 ml-auto mr-auto">
                <a href="{% url 'logout' %}" class="btn btn-primary btn-block btn-danger">Logout</a>
            </div>
            <!-- /.card-body -->
        </div>
    </a>
</div>



{% endblock %}