{% extends 'main_login_register.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="register-page" style="min-height: 570.781px;">
<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Blog</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>

        <form method="POST" action="{% url 'register' %}" class="form auth__form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form__field">

                {{ field|as_crispy_field }}

                <!-- {% if field.help_text %}
                <small>{{field.help_text}}</small>
                {% endif %} -->

                {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}

            </div>

            {% endfor %}


            <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>

        </form>



<!--      <div class="social-auth-links text-center">-->
<!--        <p>- OR -</p>-->
<!--        <a href="#" class="btn btn-block btn-primary">-->
<!--          <i class="fab fa-facebook mr-2"></i>-->
<!--          Sign up using Facebook-->
<!--        </a>-->
<!--        <a href="#" class="btn btn-block btn-danger">-->
<!--          <i class="fab fa-google-plus mr-2"></i>-->
<!--          Sign up using Google+-->
<!--        </a>-->
<!--      </div>-->

      <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->


</div>




{% endblock content %}