{% extends 'main_login.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="login-page" style="min-height: 332.781px;">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Blog</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <form class="form" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>

        </form>


      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Login</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->


</div>


{% endblock content %}